.store {
  max-width: 1080px;
  margin: 0 auto;
  padding: 4rem 2rem;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    display: flex;
    background-color: #00bfff;
    border-radius: 10px;
    overflow: hidden;
    height: 106px;
    cursor: pointer;
  }

  &__img-wrap {
    width: 70px;
    height: 70px;
    margin: auto 8px;
    border-radius: 50%;
    background-color: #000a30;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }

  &__name {
    font-size: 16px;
    font-weight: bold;
  }

  &__address {
    font-size: 14px;
  }

  &__distance {
    font-size: 12px;
    margin-top: 5px;
  }

  &__status {
    min-width: 78px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #fff;
    &-text {
      font-size: 10px;
    }

    &-count {
      font-size: 32px;
      font-weight: bold;
    }

    &-view {
      display: flex;
      align-items: center;
      font-size: 12px;

      .material-icons {
        font-size: 18px;
      }
    }

    &--yellow {
      background-color: #f67943;
    }

    &--gray {
      background-color: #808080;
    }
  }
}
